# Disable a specific rule
filter=-build/include_order
filter=-whitespace/braces
filter=-legal/copyright

# Enable a rule that is off by default
# filter=+build/include_alpha

# Limit line length
linelength=100

# Stop searching parent directories for other .cfg files
set noparent
